<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdbill.manage.mapper.fd.BillMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fdbill.manage.entity.fd.Bill">
		<id column="id" property="id" />
		<result column="income" property="income" />
		<result column="outcome" property="outcome" />
		<result column="proft" property="proft" />
		<result column="detail" property="detail" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_time" property="createTime" />
		<result column="order_num" property="orderNum" />
		<result column="del_flag" property="delFlag" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, income, outcome, proft, detail, create_user_id AS createUserId, create_time AS createTime, order_num AS orderNum, del_flag AS delFlag
    </sql>

	<select id="selectLastYearIncome" resultType="java.util.Map" parameterType="java.lang.String">
		SELECT DATE_FORMAT(create_time,'%Y-%m') date,SUM(income) income
		FROM
		fd_bill
		WHERE
		unix_timestamp(create_time) &gt;= unix_timestamp(#{beginDate,jdbcType=VARCHAR})
		AND
		unix_timestamp(create_time) &lt;= unix_timestamp(#{endDate,jdbcType=VARCHAR})
		AND
		create_user_id=#{userId}
		GROUP BY DATE_FORMAT(create_time,'%Y-%m')
	</select>

</mapper>
